{ "taxSettings" {"withholdingTaxEnabled" false}, "feesSettings" {"allowArbitraryFees" false, "fees" []}, "overdraftInterestSettings" {}, "id" "ccpay", "creditArrangementSettings" {}, "name" "CC - Payment/Settlement ", "newAccountSettings" {"idGeneratorType" "RANDOM_PATTERN", "idPattern" "@@@@###"}, "internalControls" {"openingBalance" {}}, "currencySettings" {"currencies" [{"code" "EUR"}]}, "templates" [], "type" "REGULAR_SAVINGS", "state" "ACTIVE", "category" "PERSONAL_DEPOSIT", "notes" "Payment/Settlement account for credit-card", "interestSettings" {"interestPaidIntoAccount" false, "interestPaymentSettings" {"interestPaymentDates" []}, "collectInterestWhenLocked" true}} 