{"97d12c61-e5ad-4037-88fb-0957be83a1d7"
 {:file "src/maths/loan_schedule4.clj", :line 12},
 "64f6dd89-071d-4493-abc2-c0a4f40277ef"
 {:file "src/maths/loan_schedule2.clj", :line 8},
 "357f20d4-585a-4321-b3ed-e6e5c8cf677f"
 {:file "src/tools/capability_taxonomy/captax.clj", :line 489},
 "b331f4c7-75f0-4a23-9d4b-cfa49cdfe973"
 {:file "src/http/api/mambu/demo/loyalty_points.clj", :line 1},
 "453bd6f6-f98b-48be-bb5d-94ef3ea5eafb"
 {:file "src/tools/local_code_server/bookmark_db.clj", :line 150},
 "7501ef93-3bb5-414e-9bc4-8726e8ac2611"
 {:file "src/maths/loan_schedule_tests/loan_schedule_tests.clj",
  :line 2},
 "453bd6f6-f98b-48be-bb5d-94ef3ea5eafccc"
 {:file "src/tools/local_code_server/bookmark_db.clj", :line 152},
 "a1bd998c-4927-4eba-9842-35fa0ca44310"
 {:file "src/maths/interest.clj", :line 142},
 "4eae3949-dfde-4693-bd6d-ef4251b04ba3"
 {:file "src/maths/loan_schedule.clj", :line 3},
 "75413827-b6af-48ac-90f8-4a3f8da73ac6"
 {:file "src/maths/loan_schedule2.clj", :line 79},
 "9de28b85-a797-4682-9403-1329daaf8cc3"
 {:file "src/functions/pow.clj", :line 1},
 "2dce401d-2a1e-4c8d-83c6-b5c18c9f137d"
 {:file "src/testing/unit_test_examples.clj", :line 1},
 "c6906f02-3c46-4919-ba7b-058831bd90f7"
 {:file "src/http/api/mambu/examples/edit_schedule.clj", :line 253},
 "1989a54f-774f-46f0-a1da-5c50645c7394"
 {:file "src/http/api/mambu/demo/training/stream_api.clj", :line 181},
 "0ca2a676-ac5d-4022-85a0-56f81592be83"
 {:file "src/maths/algebra2.clj", :line 1},
 "4f2ec93d-9e4c-4a8e-9588-a0d38d73a3b2"
 {:file "src/banking/iban/iban.clj", :line 1},
 "a07afdb9-608d-4f57-af44-81abcb558da6"
 {:file "src/maths/interest.clj", :line 61},
 "9d814ac2-02dc-47a5-980d-3a23108de57a"
 {:file "src/tools/local_code_server/bookmark_db.clj", :line 9},
 "0fed71a9-32df-4232-bfb9-fbae63f2ddd8"
 {:file "src/maths/loan_schedule3.clj", :line 379},
 "1031c4ec-f363-4294-8d2a-bd29b099f130"
 {:file "src/maths/loan_schedule3.clj", :line 290},
 "8569537e-3b6f-4f08-9e66-dfd027f10515"
 {:file "src/maths/interest.clj", :line 1},
 "102cb3af-9613-4130-9c01-dfafe894cda2"
 {:file
  "src/http/api/mambu/demo/multi-currency-daily-bank-account.clj",
  :line 1},
 "ab6e3701-7ff2-47a3-8502-6c139ff101a1"
 {:file "src/maths/loan_schedule.clj", :line 100}}
